#clonar todos os arquivos de instalação e exemplo do amundsen
git clone --recursive https://github.com/amundsen-io/amundsen.git

#subir apenas o amundsen
docker-compose -f docker-amundsen.yml up -d

#em databuilder/example temos alguns arquivos para popular o amundsen
